<link rel="stylesheet" href="/css/comment.css">
<!-- <li>
    <p>
        <%if(locals.user && comment.user.id == locals.user.id){ %>
            <small>
                <a href="/comments/destroy/<%= comment._id %>">X</a>
            </small>
        <%}%>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li> -->
<div class="comment">
    <li id="comment-<%= comment._id %>">
        <p>
            <div id="user-name">
                <%= comment.user.name %>
            </div>
            <%if(locals.user && comment.user.id == locals.user.id){ %>
                <small id="delete-button">
                    <a class="delete-comment-button" href="/comments/destroy/<%= comment._id %>"><i class="fa-regular fa-trash-can"></i></a>
                </small>
            <%}%>
            <%= comment.content %>
        </p>
    </li>
</div>